/*
	Colors
*/

$colors: (
	white: #ffffff,
	black: #000000,
	black-80: rgba(0, 0, 0, 0.8),
	primary: #212121,
	violet: #5744D6,
	violet-dark: #3D2F9E,
	violet-bright: #8D4DF9,
	violet-light: #9C27B0,
	gray-100: #FAFAFA,
	gray-200: #F5F5F5,
	gray-300: #EEEEEE,
	gray-400: #E0E0E0,
	gray-500: #BDBDBD,
	gray-600: #9E9E9E,
	gray-700: #757575,
	gray-800: #424242,
	gray-landing: #8E8E96,
	gray-light: #E2E4E6,
	gray-extralight: #C9CBCC	,
	blue: #426EFD,
	blue-bright: #2196F3,
	orange: #FF9B3F,
	orange-warning: #F5620F,
	red: #F44336,
	red-light: #FB526B,
	green: #4CAF50,
	yellow: #FFFF00
);

@function color($name) {

	@if(map-has-key($colors, $name)) {
		@return map-get($colors, $name);
	}

	@else {
		@error 'No color found';
	}
}