
/*
	Fonts
*/

@font-face {
	font-family: 'OpenSans';
	src: url('~@/assets/fonts/OpenSans-Light.woff2') format('woff2'),
	url('~@/assets/fonts/OpenSans-Light.woff') format('woff'),
	url('~@/assets/fonts/OpenSans-Light.eot') format('eot');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('~@/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
	url('~@/assets/fonts/OpenSans-Regular.woff') format('woff'),
	url('~@/assets/fonts/OpenSans-Regular.eot') format('eot');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('~@/assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
	url('~@/assets/fonts/OpenSans-SemiBold.woff') format('woff'),
	url('~@/assets/fonts/OpenSans-SemiBold.eot') format('eot');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('~@/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
	url('~@/assets/fonts/OpenSans-Bold.woff') format('woff'),
	url('~@/assets/fonts/OpenSans-Bold.eot') format('eot');
	font-weight: 700;
	font-style: normal;
}

/*
	Material Design icons
*/
.fa,
.fas,
.far,
.fal,
.fab,
.fas-before:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

@font-face {
	font-family: 'MaterialDesignIcons';
	src: url('~@/assets/fonts/materialdesignicons-webfont.eot');
	src: url('~@/assets/fonts/materialdesignicons-webfont.eot') format('embedded-opentype'),
		url('~@/assets/fonts/materialdesignicons-webfont.woff2') format('woff2'),
		url('~@/assets/fonts/materialdesignicons-webfont.woff') format('woff'),
		url('~@/assets/fonts/materialdesignicons-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

.far {
	font-family: 'MaterialDesignIcons';
	font-weight: 400;
}