@import './fonts.scss';

$spacing: (0, 1, 2, 4, 5, 6, 8, 10, 12, 16, 20, 24, 26, 28, 30, 32, 36, 40, 42, 46, 48, 56, 64, 80, 96, 120, 128, 160, 192, 224, 256);

$sides: (
	t: (top),
	r: (right),
	b: (bottom),
	l: (left),
	x: (left, right),
	y: (top, bottom)
);


@each $space in $spacing {
	@each $short, $rule in (p: 'padding', m: 'margin') {
		.#{$short}-#{$space} {
			#{$rule}: #{$space}px;
		}

		.#{$short}-#{$space}-important {
			#{$rule}: #{$space}px;
		}
	}
}

@each $spell, $sideTypes in $sides {
	@each $space in $spacing {
		@each $short, $rule in (p: 'padding', m: 'margin') {
			.#{$short}#{$spell}-#{$space} {
				@each $s in $sideTypes {
					#{$rule}-#{$s}: #{$space}px;
				}
			}

			.#{$short}#{$spell}-#{$space}-important {
				@each $s in $sideTypes {
					#{$rule}-#{$s}: #{$space}px !important;
				}
			}
		}
	}
}

@each $spell, $sideTypes in $sides {
	@each $short, $rule in (p: 'padding', m: 'margin') {
		*.#{$short}#{$spell}-auto {
			@each $s in $sideTypes {
				#{$rule}-#{$s}: auto;
			}
		}
	}
}

body {
	&.--overlay {
		overflow: hidden;
	}
}

/*
	Flex Helpers
*/


.flex {
	display: flex;
}

.grow {
	flex-grow: 1;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-grow {
	flex-grow: 1;
}

.flex-nogrow {
	flex-grow: 0;
}

.flex-noshrink {
	flex-shrink: 0;
}

.items {
	&-start { align-items: flex-start; }
	&-end { align-items: flex-end; }
	&-center { align-items: center; }
	&-baseline { align-items: baseline; }
	&-stretch { align-items: stretch; }
}

.justify {
	&-start { justify-content: flex-start; }
	&-end { justify-content: flex-end; }
	&-center { justify-content: center; }
	&-baseline { justify-content: baseline; }
	&-stretch { justify-content: stretch; }
	&-between { justify-content: space-between; }
	&-around { justify-content: space-around; }
	&-evenly { justify-content: space-evenly; }
}

.self {
	&-start { align-self: flex-start; }
	&-end { align-self: flex-end; }
	&-center { align-self: center; }
	&-stretch { align-self: stretch; }
	&-baseline { align-self: baseline; }
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 34px;
	line-height: 1.35;
}

p {
	color: color(primary);
	font-size: 14px;
	line-height: 1.72px;
}
.container {
	min-width: 1280px;
	max-width: 1280px;
	margin: 0 auto;
}
.relative {
	position: relative;
}
.ecomm-toast {
	&.Vue-Toastification__toast {
		display: flex;
		align-items: center;
		max-width: 380px;
	}

	&.Vue-Toastification__toast--error {
		background-color: color(red);
	}

	.Vue-Toastification__icon {
		margin: 0 10px 0 0;
	}
	button {
		margin-top: -4px;

		&:focus {
			outline: none;
		}
	}
}
